<div class="alert alert-danger" role="alert">
    <p>
        <span class="badge bg-danger">!</span>
        <span class="fw-bold">Attention </span>
        <img src="https://tenor.com/bgt2J.gif" alt="attention gif">
    </p>
    <p>
        <span class="fw-bold">User:</span> {{ user.useridentifier }}
    </p>
    <p>
        <span class="fw-bold">Message:</span> {{ message }}
    </p>
</div>